@import "tailwindcss";

@layer components {
  .post-form-wrapper {
    @apply h-full w-full flex flex-col items-start justify-between gap-4;
  }

  .post-form {
    @apply w-full h-full flex flex-col items-start justify-between gap-4;
  }

  .post-form-inputs {
    @apply w-full flex flex-col items-start gap-4;
  }

  .input-holder {
    @apply w-full flex flex-col items-start gap-2;
  }

  .input-holder-chevron {
    @apply absolute right-2 top-1/2 translate-y-1/3 w-4 h-4 text-neutral-500 pointer-events-none;
  }

  .input-holder label {
    @apply text-sm;
  }

  .input-holder input {
    @apply w-full px-2 py-1 text-sm rounded-md border border-neutral-700 placeholder:text-neutral-500 placeholder:text-sm;
  }

  .input-holder select {
    @apply w-full px-2 py-1 pr-8 text-sm rounded-md border border-neutral-700 appearance-none placeholder:text-neutral-500 placeholder:text-sm;
  }

  .input-holder textarea {
    @apply w-full px-2 py-1 text-sm rounded-md border border-neutral-700 placeholder:text-neutral-500 placeholder:text-sm;
  }

  .generate-post-btn {
    @apply flex items-center justify-center gap-2 w-full py-1 rounded-md bg-linear-to-t from-orange-800 to-orange-700 text-sm hover:cursor-pointer hover:opacity-95 transition-all disabled:opacity-60 disabled:cursor-not-allowed;
  }

  .generate-post-btn span {
    @apply text-neutral-300 font-medium;
  }
}
