@import "tailwindcss";

@layer components {
  .compare-wrapper {
    @apply flex flex-col items-center gap-12 px-16 py-8 bg-neutral-950 rounded-md border border-neutral-700/50 shadow-[0_0_30px_rgba(38,38,38,0.75)] hover:shadow-[0_0_30px_rgba(64,64,64,0.85)] transition-all;
  }

  .compare-text-wrapper {
    @apply flex flex-col items-center gap-4;
  }

  .before-container {
    @apply relative w-2/3 flex flex-col items-start gap-4 px-4 py-12 rounded-lg border border-neutral-700/50 bg-neutral-800/50;
  }

  .before-pill {
    @apply absolute -top-2 -left-5 px-2 py-1 flex items-center gap-2 rounded-md border border-neutral-700 bg-neutral-800 -rotate-12;
  }

  .after-container {
    @apply relative w-2/3 flex flex-col items-start gap-4 px-4 py-12 rounded-lg border border-orange-400/50 bg-orange-950/50;
  }

  .after-pill {
    @apply absolute -top-2 -left-5 px-2 py-1 flex items-center gap-2 rounded-md border border-orange-500 bg-orange-950 -rotate-12;
  }

  .compare-title {
    @apply text-xl font-medium mb-2;
  }

  .compare-list {
    @apply flex flex-col items-start gap-4 text-sm;
  }
}
