@import "tailwindcss";

@layer components {
  .card-wrapper {
    @apply w-full col-span-1 flex flex-col items-start gap-2 p-4 rounded-md bg-neutral-900 border border-neutral-800 hover:border-neutral-700 transition-all;
  }

  .card-wrapper p {
    @apply text-sm;
  }
}
