@import "tailwindcss";

@layer components {
  .post-display-wrapper {
    @apply h-full w-full flex flex-col items-start justify-between gap-4;
  }

  .title-holder {
    @apply w-full flex items-center justify-between gap-2;
  }

  .title-holder button {
    @apply p-1.5 rounded-lg bg-neutral-800 border border-neutral-700 hover:opacity-90 hover:cursor-pointer transition-all disabled:opacity-60 disabled:pointer-events-none;
  }

  .save-post-btn {
    @apply flex items-center justify-center gap-2 w-full py-1 rounded-md bg-orange-800/50 border border-orange-400 text-orange-400 text-sm hover:cursor-pointer hover:opacity-95 transition-all disabled:opacity-60 disabled:pointer-events-none;
  }

  .copy-post-btn {
    @apply flex items-center justify-center gap-2 w-full py-1 rounded-md bg-transparent border border-neutral-300 text-neutral-300 text-sm hover:cursor-pointer hover:opacity-95 transition-all disabled:opacity-60 disabled:pointer-events-none;
  }

  .save-post-btn span {
    @apply text-orange-400 font-medium;
  }

  .copy-post-btn span {
    @apply text-neutral-300 font-medium;
  }
}
