@import "tailwindcss";

@layer components {
  .hero-wrapper {
    @apply w-full h-screen flex flex-col items-center justify-center gap-10;
  }

  .pill-wrapper {
    @apply flex items-center gap-2 px-2 py-0.5 bg-green-900 text-green-400 border border-green-400 rounded-full;
  }

  .pill-wrapper div {
    @apply w-2 h-2 bg-green-300 rounded-full animate-pulse;
  }

  .pill-wrapper span {
    @apply font-light text-xs;
  }

  .main-text-wrapper {
    @apply flex flex-col items-center gap-4;
  }

  .main-text-wrapper h1 {
    @apply text-6xl text-center bg-linear-to-t from-neutral-400 to-neutral-50 bg-clip-text text-transparent;
  }

  .main-text-wrapper p {
    @apply max-w-96 text-center text-neutral-500 font-light;
  }

  .hero-cta-wrapper {
    @apply flex flex-col items-center gap-2;
  }

  .hero-cta-wrapper p {
    @apply text-neutral-500 text-xs;
  }

  .hero-btn-wrapper {
    @apply flex items-center gap-2;
  }

  .hero-btn-wrapper a:nth-child(1) {
    @apply p-2 text-sm rounded-lg text-neutral-200 bg-linear-to-t from-orange-600 to-orange-700 hover:opacity-90 hover:cursor-pointer transition-all;
  }

  .hero-btn-wrapper a:nth-child(2) {
    @apply p-2 text-sm rounded-lg text-neutral-200 bg-neutral-900 border border-neutral-700 hover:opacity-90 hover:cursor-pointer transition-all;
  }

  .video-wrapper {
    @apply p-2 w-full border border-neutral-700/80 rounded-xl shadow-[0_0_30px_rgba(38,38,38,0.5)];
  }

  .video-holder {
    @apply aspect-video p-1 border border-neutral-800 rounded-lg;
  }

  .video-holder iframe {
    @apply w-full h-full rounded-lg;
  }
}
