@import "tailwindcss";

@layer components {
  .post-wrapper {
    @apply w-full px-4 py-6 flex flex-col items-start gap-4 bg-neutral-900 border border-neutral-800 rounded-xl;
  }

  .post-wrapper h2 {
    @apply text-lg font-semibold;
  }

  .post-wrapper p {
    @apply text-sm font-light text-neutral-500;
  }

  .top-wrapper {
    @apply w-full flex items-center justify-between gap-2;
  }

  .favorite-btn {
    @apply hover:cursor-pointer;
  }

  .star {
    @apply w-4 h-4 text-amber-400 fill-amber-400;
  }

  .star-off {
    @apply w-4 h-4 text-neutral-400;
  }

  .delete-btn {
    @apply hover:opacity-90 hover:cursor-pointer transition-all disabled:opacity-60 disabled:pointer-events-none;
  }

  .copy-post-btn {
    @apply flex items-center justify-center gap-2 w-full py-1 rounded-md bg-neutral-700/40 border border-neutral-300 text-neutral-300 text-sm hover:cursor-pointer hover:opacity-95 transition-all;
  }

  .copy-post-btn span {
    @apply text-neutral-300 font-medium;
  }
}
