@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

body {
  @apply bg-neutral-950 text-neutral-200;
  font-family: "Inter", sans-serif;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility page-wrapper {
  @apply w-full mx-auto p-4 flex flex-col items-start gap-4;
}

@layer components {
  .content-wrapper {
    @apply w-full px-4 py-6 flex flex-col items-start gap-2 bg-neutral-900 border border-neutral-800 rounded-xl;
  }

  .content-wrapper h2 {
    @apply text-2xl font-semibold bg-linear-to-t from-neutral-400 to-neutral-50 bg-clip-text text-transparent;
  }

  .content-wrapper p {
    @apply text-sm font-light text-neutral-500;
  }
}
