@import "tailwindcss";

@layer components {
  .plans-content-wrapper {
    @apply w-full flex flex-col items-center justify-center gap-10;
  }

  .plans-text-wrapper {
    @apply flex flex-col items-center gap-4;
  }

  .toggle-pill {
    @apply flex items-center gap-x-3;
  }

  .toggle-pill label {
    @apply text-sm text-neutral-500;
  }

  .toggle-pill label#switch {
    @apply relative inline-block w-11 h-6 cursor-pointer;
  }

  .toggle-pill label#switch span:nth-of-type(1) {
    @apply absolute inset-0 bg-neutral-800 rounded-lg transition-colors duration-200 ease-in-out peer-checked:bg-orange-500/75 peer-disabled:opacity-50 peer-disabled:pointer-events-none;
  }

  .toggle-pill label#switch span:nth-of-type(2) {
    @apply absolute top-1/2 start-0.5 -translate-y-1/2 size-5 bg-neutral-300 rounded-md shadow-sm transition-transform duration-200 ease-in-out peer-checked:translate-x-full;
  }

  .plans-grid {
    @apply w-full grid grid-cols-1 lg:grid-cols-2 gap-8;
  }

  .plan-wrapper {
    @apply w-full p-8 col-span-1 flex flex-col items-start gap-4 bg-linear-to-tr from-neutral-800/50 to-neutral-900 border border-neutral-700/50 rounded-lg hover:border-neutral-700 transition-all;
  }

  .plan-wrapper hr {
    @apply w-full text-neutral-700;
  }

  .plan-wrapper h2 {
    @apply text-neutral-500 text-2xl;
  }

  .plan-wrapper h2 span {
    @apply text-neutral-500 text-base;
  }

  .plan-wrapper button {
    @apply w-full flex items-center justify-center p-2 rounded-md bg-linear-to-r from-orange-500 to-orange-700 hover:opacity-90 hover:cursor-pointer transition-all disabled:opacity-60 disabled:pointer-events-none;
  }

  .plan-wrapper ul {
    @apply flex flex-col items-start gap-4 text-neutral-500 text-sm;
  }

  .plan-wrapper ul li {
    @apply flex items-center gap-2;
  }

  .plan-text-wrapper {
    @apply w-full flex flex-col items-start gap-1;
  }

  .plan-text-wrapper h3 {
    @apply text-3xl;
  }

  .plan-text-wrapper p {
    @apply text-sm;
  }
  .start-btn {
    @apply w-full flex items-center justify-center gap-2 p-2 rounded-md bg-linear-to-r from-orange-500 to-orange-700 hover:opacity-90 hover:cursor-pointer transition-all disabled:opacity-60 disabled:pointer-events-none;
  }
}
