@import "tailwindcss";

@layer components {
  h2 {
    @apply text-4xl;
  }

  h2 span {
    @apply bg-linear-to-r from-orange-500 to-orange-700 bg-clip-text text-transparent;
  }

  h3 {
    @apply text-base font-light;
  }

  p {
    @apply text-neutral-500 font-light;
  }

  ul {
    @apply list-disc list-inside font-light;
  }
}
